<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sai.developement.travelogue">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".TravelogueApplication"
        android:allowBackup="true"
        android:icon="@drawable/travelogue_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOsgYG8YnqxhOJ7GV5257HcgLKlXEMzp4"/>

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme.HomeActivity"/>

        <activity
            android:name=".activities.NewTripActivity"
            android:parentActivityName=".activities.HomeActivity" />

        <activity
            android:name=".activities.ViewTripActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.ViewTripActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".activities.ChatActivity"
            android:parentActivityName=".activities.ViewTripActivity"
            android:windowSoftInputMode="adjustResize"/>

        <receiver android:name=".widget.TravelogueWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <intent-filter>
                <action android:name="sai.developement.travelogue.widget.TRIP_ACTION" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/travelogue_widget_info" />
        </receiver>

        <service android:name=".widget.TravelogueWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false"
            android:enabled="true"/>
    </application>

</manifest>